.DF {
    @include DF();


    .container-9 {
        @include container();

        top: 33px;
        left: 356px;
        width: 620px;
        height: 620px;
        animation: pluton 180s linear infinite;

        @keyframes pluton {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }

        .pluton {
            position: absolute;
            top: 34%;
            width: 25px;
            height: 25px;
            background-image: url(../imgs/pluton2.png);
            background-size: cover;
            border-radius: 50%;
        }

    }

}