.DF {
    @include DF();

    .container-2 {
        @include container();
        top: 253px;
        left: 567px;
        width: 200px;
        height: 200px;
        animation: venera 7s linear infinite;

        @keyframes venera {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }


        .venera {
            position: absolute;
            top: 19%;
            width: 25px;
            height: 25px;
            background-image: url(../imgs/venera.png);
            background-size: cover;
            border-radius: 50%;
        }

    }
}